@model List<Shirt>
@{
    ViewData["title"] = "Shirts";
}
<h3>Shirts</h3><!--显示标题-->
<br/>
<table class="table table-striped">
    <thead >
        <tr>
          <td>Brand</td>
          <td>Gender</td>
          <td>Size</td>
          <td>Price</td>
          <td>Color</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var shirt in Model)
        {
            <tr>
                <td>@shirt.Brand</td>
                <td>@shirt.Gender</td>
                <td>@shirt.Size</td>
                <td>@(shirt.Price.HasValue?shirt.Price.Value.ToString("c"):"")</td>
                <td>@(shirt.Color)</td>
            </tr>
        }
        </tbody>
</table>
<br/>
<a class="btn btn-primary" asp-controller="Shirts" asp-action="CreateShirt">Create</a>
